@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Zen+Loop&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Amatic SC', cursive;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Zen Loop', cursive;
    color: #01937C;
    text-align: center;
    font-size: large;
}

body {
    background-color: #FAF1E6;
    height: 100vh;
}

header {
    margin: 0;
    background-color: #FFC074;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

#forms {
    height: 94vh;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.btn-outline {
    border-color: #01937C;
    color: #01937C;
    margin: 5px;
}

.btn-outline:hover {
    background-color: #FFC074;
    border-color: #FFC074;
    color: #01937C;
}

.left-center {
    margin-left: 50px;
}

.right-center {
    margin-right: 50px;
}

#center {
    border: 1px solid #FFC074;
    padding: 40px;
    flex-basis: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    &:hover {
        border-color: #01937C;
    }
}

#board-game {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #B6C867;
    padding: 20px;
    max-height: calc(100vh - 200px);
    max-width: calc(100vh - 200px);
}

.cell {
    min-height: calc(100% / 3);
    max-height: calc(100% / 3);
    font-size: large;
    background-color: #B6C867;
    vertical-align: middle; // font-size: 4rem;
}

#message-user {
    margin-bottom: 0, 0, 100px, 0;
    font-weight: bolder;
}

#header-h1 {
    align-self: center;
}

@media (max-width: 400px) {
    #forms {
        flex-flow: column nowrap;
    }
}

// 0587341116
