@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Zen+Loop&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Zen Loop', cursive;
    color: #01937C;
    text-align: center;
    font-size: large;
}

body {
    background-color: #FAF1E6;
    height: 100vh;
    // display: flex;
    // flex-flow: column nowrap;
}

header {
    height: 20vh;
    margin: 0;
    background-color: #FFC074;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

form {
    margin: 5px;
}

h1 {
    margin: auto;
}

// #forms {
//     height: 70vh;
//     display: flex;
//     flex-flow: row nowrap;
//     justify-content: space-between;
//     align-items: center;
// }
.btn-outline {
    border-color: #01937C;
    color: #01937C;
    margin: 5px;
}

.btn-outline:hover {
    background-color: #FFC074;
    border-color: #FFC074;
    color: #01937C;
}

// .left-center {
//     margin-left: 50px;
// }
// .right-center {
//     margin-right: 50px;
// }
#center {
    border: 1px solid #FFC074;
    padding: 10px;
    //     padding: 40px;
    //     flex-basis: auto;
    //     position: absolute;
    //     left: 50%;
    //     top: 50%;
    //     transform: translate(-50%, -50%);
}

#board-game {
    // position: absolute;
    // left: 50%;
    // top: 65%;
    // transform: translate(-50%, -65%);
    //border: 1px solid #B6C867;
    // padding: 20px;
    // max-height: calc(100vh - 200px);
    // max-width: calc(100vh - 200px);
    //margin: auto 20%;
    height: inherit;
}

// #board-game-wrapper {
//     height: 75%;
// }
// .row-hiehy {
//     height: calc(100% / 3);
// }
.cell {
    height: 8rem;
    // min-width: calc(100% / 3);
    // max-width: calc(100% / 3);
    // font-size: 3rem;
    background-color: #B6C867;
    // padding: 3%;
    // align-content: center;
    text-align: center;
    vertical-align: middle;
}

#message-user {
    margin-bottom: 0, 0, 100px, 0;
    font-weight: bolder;
    font-size: 3rem;
}

#header-h1 {
    align-self: center;
}

@media (max-width: 400px) {
    body {
        font-size: medium;
    }
    header {
        height: 10vh;
    }
}

// 0587341116
